#!/bin/bash

[ ! -z "$(type -t source_up)" ] && source_up

if [ -f ".redisrc" ]; then
  source ".redisrc"
  export REDIS_HOST
  export REDIS_PASSWORD
fi

if [ -f ".authrc" ]; then
  source ".authrc"
  export AUTH_URL
  export ADMIN_SECRET
  export API_PATH
fi
